.contacts {
    padding: 100px 0;
    min-width: 100%;
    height: 717px;
    border-radius: 30px;
    background: #191C19;
    background-image: url(../resources/contacts/developer.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
}

.contacts-wrapper-center {
    margin: 0 auto;
    width: 1150px;
}

.contacts-wrapper-h2 {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
}

form{
    width: 50%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap:25px;
}

input{
    padding:15px 40px;
    font-size: 22px;
    line-height: 60px;
    border:none;
    background-color:#3B3D3B;
    border-radius: 1000px;
}



.contacts-form-submit-btn {
    width: 450px;
    line-height: 70px;
    font-size: 22px;
    color: #191C19;
    text-align: center;
    background-color: #1BFF07;
    border: 2px solid #1BFF07;
    border-radius: 10px;
}

.contacts-form-submit-btn:hover {
    color: #1BFF07;
    background-color: #191C19;
}

@media (max-width: 1180px) {
    .contacts{
        padding: 50px;
        background-size: 40%;
    }
    .contacts-wrapper-center {
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 960px) {
    .contacts {
        height: 484px;
        background-image: url(../resources/contacts/developer-960.png);
    }

    .contacts-wrapper-h2 {
        margin-bottom: 40px;
        font-size: 40px;
        line-height: 40px;
    }

    form{
        margin-bottom: 40px;
    }

    input{
        padding:10px 25px;
        line-height: 41px;
        font-size: 21px;
    }

    

    .contacts-form-submit-btn{
        width: 300px;
    }
}

@media (max-width: 767px) {
    .contacts {
        background-image: none;
    }

    form{
        width: 75%;
    }

    

}

@media (max-width: 560px) {
    .contacts{
        height: 100%;
        padding:50px 15px;
    }
    .contacts-form-submit-btn{
        width: 100%;
    }

    form{
        width: 100%;
    }
}