.footer {
    height: 223px;
    background: #FFFFFF;
    border-top-left-radius: 30px;
    font-family: 'Manrope';
    border-top-right-radius: 30px;
}

.footer-wrapper {
    position: relative;
    margin: 0 auto;
    width: 1150px;
}

.footer p {
    position: absolute;
    top: 76px;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}

.footer p:last-child {
    position: absolute;
    top: 172px;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    opacity: 0.5;
}