.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:75px 0;
    height: 273px;
    background: #FFFFFF;
    border-top-left-radius: 30px;
    font-family: 'Manrope';
    border-top-right-radius: 30px;
    color:#000000;
}

.footer-title,.footer-subtitle,.footer-link{
    color:#000000;
    }

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
    width: 1180px;
}

.footer-title{
    font-size: 22px;
    line-height: 30px;
}


.footer-contacts{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-link{
    font-size: 22px;
    line-height: 30px;
}

.footer-link:hover{
    opacity: 0.5;
}

.copyright{
    margin: 0 auto;
    width: 1180px;
    padding:0 15px;

    display: flex;
    justify-content: space-between;
}

.footer-subtitle{
    opacity: 0.5;
    font-size: 20px;
    line-height: 27px;
}



@media (max-width: 1180px) {
    .footer-wrapper{
        gap:15px;
        width: 100%;
        padding:0 40px;
    }

    .copyright{
        gap:15px;
        width: 100%;
        padding:0 40px;
    }
}
@media (max-width: 960px) {
   
    .footer-title{
        font-size: 16px;
        line-height: 22px;
    }
    .footer-link{
        font-size: 16px;
        line-height: 22px;
    }

    .footer-subtitle{
        font-size: 14px;
        line-height: 19px;
    }
}
@media (max-width: 560px) {
    .footer{
        gap: 40px;
        padding: 50px 15px 35px;
    }

    .footer-wrapper{
        flex-direction: column;
    }
    .footer-contacts{
        justify-content: flex-start;
    }

    .copyright{
        flex-direction: column;
    }
    .footer-title{
        font-size: 15px;
        line-height: 20px;
    }
    .footer-link{
        font-size: 15px;
        line-height: 20px;
    }

    .footer-subtitle{
        font-size: 13px;
        line-height: 18px;
    }
}